# Makefile.os2

MALSYNC_VERSION =	2.0.7

# Paths

TOP =		../../..

ifndef ($PREFIX)
PREFIX =	$(UNIXROOT)/usr
endif
BINDIR =	$(PREFIX)/bin
DATADIR =	$(PREFIX)/share/doc/malsync

# The path where the pilot-link libraries can be found
PILOT_LINK =	D:/Programme/Pilot-Link

# The Makefiles contain targets to create some distribution archives
# automatically. Here are the desired file names for that archives.
ARCHIVE_BIN_ZIP =	malsync-$(MALSYNC_VERSION)-os2-bin.zip
ARCHIVE_SRC_ZIP =	malsync-$(MALSYNC_VERSION)-os2-src.zip
ARCHIVE_UX2_ZIP =	malsync-$(MALSYNC_VERSION)-ux2.zip

# Programs

SHELL =		sh.exe
AS =		gcc
CC =		gcc
LD =		gcc
AR =		ar
IPF =		ipfc
MSGFMT =	msgfmt
ZIP =		zip
WIC =		wic

DEFS =		-D__ST_MT_ERRNO__ -DMALSYNC
INCLUDES =	-I$(TOP)/mal/common -I$(TOP)/mal/client/common -I$(PILOT_LINK)/include -I.
LIBDIRS =	-L$(PILOT_LINK)/libsock
LIBS =		-lpisock -lsocket

CFLAGS =	$(DEFS) $(INCLUDES) -O2 -Wall -Zmt
LDFLAGS =	$(LIBDIRS) -s -Zexe -Zmt

ARFLAGS =	crs
IPFFLAGS =	-w:3 -i
MSGFMTFLAGS =	
ZIPFLAGS =	-9
WICFLAGS =	

# Dependencies

